beautifulsoup4==4.11.1
numpy==1.23.4
pandas==1.5.1
pgeocode==0.3.0
plotly==5.11.0
#psycopg2==2.9.5 #installl binary
PyYAML==6.0
rasa_sdk==3.4.0 #requires python >= 3.7 <3.11
requests==2.28.1
scikit_learn==1.2.0
streamlit==1.16.0 
streamlit_chat==0.0.2.1
tqdm==4.64.1
